<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OrderEat | Index</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="About.html">About</a></li>
                </ul>
                <button class="downloadbtn" autofocus><a href="#">Download</a></button>
            </nav>

            <div class="headerline">
                <small>OrderEat</small>
                <p class="tagline">
                    <h2>Your Favorite Meals</h2>
                    <h2>from your most preferred places</h2>
                </p>

                <p class="sometext">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus corrupti sint numquam enim mollitia sequi repellendus non adipisci, repellat reiciendis!
                </p>
                <small id="tagphrase">Delicious food is one click away</small>
            </div>
        </div>
        <div class="downloadImg">
            <span><img src="" alt=""></span>
            <span><img src="" alt=""></span>
        </div>
    </header>
</body>
</html>
